body {
  font-family: Arial, sans-serif;
  background-color: #e4eaed;
  color: #374151;

}
{
  text-shadow:2px 2px 4px #6f6969; 
  margin: 0px;
  padding: 0px;
}

main {
  padding: 1rem;
}


section {
   background-image: url(./IMG_3518.jpg);
  
  background-color: #2b2fb9;
  background-size: cover;
  height:500px;
  
}

#countdown {
  
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-decoration-color: #dfd0df;
} 

.clock {
  
  text-align: center;

  margin: 0 0.5rem;
  background-color: rgb(240, 226, 233);
  border-style: double;
  /* border-color: rgb(6, 161, 48); */
   border-radius: 10px;
   width:120px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   /* background: none; */
}


.text-red-600 {
  color: #c583ab;
}

.text-gray-700 {
  color: #e2dbef;
  font-size: 50px ; 
}


.text-slate-950 {
  color: #604968;
  margin:6px
}


.font-mono {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.font-bold {
  font-weight:bolder;
}

.font-semibold {
  font-weight: 900;
}


.w-full {
  width: 100%;
}

.h-screen {
  height: 150vh;
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom:2rem;
}
#dateyear{
  width:800px;
  
  margin:auto;
  text-shadow: #000000;
  font-size: 40px;
  backdrop-filter: blur(1.5px);

}
#message{
  width: 800px;
  margin:auto;
  backdrop-filter: blur(2px);
  font-size: 40px;
  color:rgb(188, 142, 187);
  text-shadow:2px 2px 4px #000000; 
}
.radha{
  width: 800px;
  margin:auto;
  backdrop-filter: blur(1.5px);
  font-size: 25px;
  color:rgb(223, 217, 217);
  text-shadow:2px 2px 4px #000000; 
  font-size: 40px;
}
.wish{
 
  font-size: 35px;
  color:white;

}
.text{
   
  font-size: 35px;
  color:rgb(148, 80, 120);
  text-shadow: #707074;
  text-decoration: wavy;
  font-family:cursive;
  font-style: oblique;
  font-weight: bold;
  border:7px solid;
  border-radius: 5px;
  border-color: #6b99be7b;
  backdrop-filter: blur(6px);
  width:850px;
}
#birthdayTime{
  margin:auto;
  width: 800px;
  backdrop-filter: blur(2px);
  font-size: 25px;
  color:rgb(225, 212, 220);
  text-shadow: #716f72;
}
.yearold{
  width: 800px;
  margin:auto;
  backdrop-filter: blur(1.5px);
align-items: center;
border-radius: 30px;
border-width: 5px;

}
#redirectButton {
  display:block;
  margin:  40px auto;
  padding: 10px 20px;
  font-size: 35px;
  background-color: #af699f; 
  color: #adcadb;
  border: rgba(211, 210, 211, 0.827);
  border-radius: 5px;
  cursor: pointer;
   width: 200px;
   height: 70px;
   font-style: italic;
   font-family:cursive;
   text-decoration: wavy;
}

#redirectButton:hover {
  background-color: #932393; 
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: wavy;
  font-size: 30px;
  border: 5px double #da50ba;
}
#vdo {
  background-color: #c3b1bc; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#video-container {
  text-align: center; 
}

video {
  border: 8px solid #bea5a5; 
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(59, 59, 59, 0.2); 
  display: block; 
  margin: 0 auto;
}

.description {
  font-size: 45px;
  margin-top: 20px; 
  color: #85567a;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: #716f72;
 
}
